*,html{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9 !important;
    overflow-x: hidden;

}
.main-container{
    margin-left: 240px; 
    width: calc(100vw - 240px); 
    height: 100vh;
    overflow-y: auto; 
    box-sizing: border-box;
    padding: 1.25rem;
}

input,textarea{
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

