body{
    background-color: #f1f5f9;
}

.mainLogin,.mainRegister{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formLogin,.formRegister{
    width: 100vw;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 24px;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #fff;
}

.fieldLogin,.btnLogin,.fieldRegister,.btnRegister{
    height: 40px;
    border-radius: 4px;
    border: none;
    padding: 0 6px;
    border: 1px solid #ccc;

}

.btnLogin,.btnRegister{
    background-color: #2563eb;
    color: #fff;
}

.linkLogin,.linkRegister{
    font-size: 14px;
    color: #424242;
    font-family: inter, sans-serif;
}
.link{
    font-family: "Oswald", sans-serif;
}
a{
    font-family: inter, sans-serif !important;
    color: #2563eb;
}

.logHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
}
.img{
    width: 180px;
    height: 100px;
}

.title{
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    padding-top: 1.5rem;
    color: #3a3a3a;
}
.subtitle{
    color: #616161;
    font-family: inter, sans-serif;
    font-size: 14px;

}